@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
}

.Container {
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  position: relative;
}

.Container .sidebar {
  width: 100%;
  /* background-color: red; */
  background-color: transparent;
  flex-basis: 15%;
  /* box-shadow: 2px 3px 4px 1px rgba(133, 132, 132, 0.253); */
  padding: 1rem;
}

.Container .sidebar h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.6rem;
}

.Container .sidebar h2 .app-name-span {
  color: rgb(110, 196, 250);
}

.Container .content {
  width: 100%;
  /* background-color: yellow; */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container .content .content-load {
  width: 98%;
  height: 98vh;
  background-color: white;
  border-radius: 1%;
  box-shadow: 2px 3px 4px 2px rgba(133, 132, 132, 0.253);

}

.hr-line {
  background: linear-gradient(to right, rgb(110, 196, 250), black);
  width: 100%;
  height: 3px;
  margin-top: .7rem;
  text-align: center;
}

.Container .sidebar .item-list-Container {

  background-color: black;
  min-height: 90vh;
  max-height: 90vh;
  border-radius: 1%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
}

.Container .sidebar .item-list-Container1 {

  background-color: black;
  width: 150px;
  min-height: 90vh;
  max-height: 90vh;
  border-radius: 1%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
}

.Container .sidebar .item-list-Container .item {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 500;
  /* background-color: white; */
  margin: 0px .4rem;
  margin-top: .6rem;
  padding: .6rem;
  text-align: start;
  border-radius: 1%;
  color: white;
  transition: .2s ease-in-out;
  display: flex;
  align-items: center;

}

.Container .sidebar .item-list-Container .item:hover {
  background-color: rgba(255, 255, 255, 0.226);
  border-right: 5px solid rgb(110, 196, 250);
  cursor: pointer;
  color: white;
}

.active-class-item {
  background-color: rgba(255, 255, 255, 0.226);
  border-right: 5px solid rgb(110, 196, 250);
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.Container .sidebar .item-list-Container a {
  text-decoration: none;
}

.Container .sidebar .item-list-Container .item-profile {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.226);
  margin: 0px .4rem;
  margin-top: .6rem;
  padding: .6rem;
  text-align: start;
  border-radius: 1%;
  color: white;
  transition: .2s ease-in-out;
  display: flex;
  align-items: center;
  height: 100px;

}

.newTag {
  padding: 0rem .8rem;
  background-color: rgb(231, 66, 66);
  font-size: smaller;
  color: white;
  border-radius: 15%;
  text-transform: uppercase;
  margin-left: 2rem;

}

.filterBtn {
  margin-top: 1rem;
  margin-left: 1rem;

}

b {
  text-transform: uppercase;
  font-size: 15px;
  /* color: rgb(110, 196, 250); */
}

.Btn {
  background-color: white;
  border: 1px solid rgb(110, 196, 250);
  padding: .3rem 1.5rem;
  margin-top: .3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0px .5rem;
  margin-bottom: 0rem;
  border-radius: 15px;
  font-size: 15px;
}

.Btn:hover {
  background-color: rgba(240, 248, 255, 0.979);
  cursor: pointer;

}

.paginationBtn {
  margin-top: 1.5rem;
  text-align: end;
  margin-right: 1rem;
}

.Btn:disabled {
  cursor: not-allowed;
}

.form-label {
  font-weight: 600;
}

.new {
  background-color: rgb(231, 66, 66);
}

.read {
  background-color: rgba(128, 128, 128, 0.562);
  font-size: smaller;
}

.other {
  border: 1px solid aqua;
  color: black;
  background-color: rgba(0, 255, 255, 0.13);
  font-size: smaller;
  font-weight: 600;
}

.navItemData {
  display: none;
}

.messageEmail {
  font-size: 15px;
  text-align: justify;

}

.Loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.832);

}

.uppercase {
  text-transform: uppercase;
  font-weight: 600;
}

.headingLoader {
  animation: dotsAnim;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  /* border-radius: 50%; */
  border-bottom: 1rem dotted rgb(110, 196, 250);
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.main-model {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.video-container {
  height: 100%;
  width: 100%;
  /* display: flex;
   flex-wrap: wrap; */
  /* enable flex items to wrap */
  /* align-items: flex-start;
   justify-content: space-around;
   background-color: aliceblue; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: flex-start;

}

.video-cards {
  margin: .6rem;
  min-width: 350px;
  background-color: white;
}

video {
  object-fit: fill;
}

.video-Thum {
  width: 100%;
  min-height: 140px;
  max-height: 180px;
  object-fit: cover;
  background-color: white;
}

.video-Thum-playlist {
  min-width: 350px;
  max-width: 350px;
  min-height: 140px;
  max-height: 180px;
  object-fit: cover;
  background-color: white;
}

.video-Thum-watch {
  width: 100%;
  min-height: 140px;
  max-height: 140px;
  object-fit: cover;
  background-color: white;
}

.video-Thum-sort {
  width: 180px;
  max-height: 100px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: white;
}

input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  border: 1px solid grey;
}

textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
  border: 1px solid grey;
}

input::placeholder {
  color: rgb(110, 196, 250) !important;
}

input.form-control.mr-1.search-input {
  box-shadow: none;
}

textarea::placeholder {
  color: rgb(110, 196, 250) !important;
}

.search-input {
  background-color: rgba(110, 196, 250, 0.261) !important;
  color: black !important;
}

.video-h4 {
  margin-left: 0rem;
  font-size: 18px;
  font-weight: 600;
}

.video-h5 {
  font-size: 14px;
  font-weight: 500;
}

.thum-border {
  border: 2px solid rgb(110, 196, 250);
}

lable {
  font-weight: 600 !important;
}


.nav-link.active {
  background-color: black !important;
  color: white !important;
}

input[type=radio] {
  accent-color: rgb(110, 196, 250);
  font-size: xx-large;
  width: 1rem;
  height: 1rem;
}



.loading-skeleton {
  width: 100%;
  color: transparent;
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border-color: #eee;

  &::placeholder {
    color: transparent;
  }
}

.hover-shadow:hover {
  box-shadow: 1px 5px 5px 8px rgba(128, 128, 128, 0.145);
}

.live-channel-list {
  max-height: 10vh;
  min-height: 100%;
  max-width: 100%;
  overflow-x: auto;
  /* border: 1px solid red; */
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: .8s ease-in-out;
}

.live-card {
  text-wrap: nowrap;
  white-space: nowrap;
}

.live-card:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border: 1px solid white !important;
}

.live-tag {
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  background-color: red;
  font-size: 10px;
  right: 0px;
}

.live-channel-list:hover {
  background-color: rgba(128, 128, 128, 0.151);
}

@keyframes loading-skeleton {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}



.loading-skeleton {
  pointer-events: none;
  animation: loading-skeleton 1s infinite alternate;

  img {
    filter: grayscale(100) contrast(0%) brightness(1.8);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  .btn,
  label,
  .form-control {
    @extend .loading-skeleton;
  }
}

@keyframes dotsAnim {
  from {
    width: 0px;
  }

  to {
    width: 200px;
  }

}



@media screen and (max-width:1024px) {
  .Container .sidebar {
    width: 100%;
    /* background-color: red; */
    background-color: transparent;
    flex-basis: 30%;
    box-shadow: 2px 3px 4px 1px rgba(133, 132, 132, 0.253);
  }
}

@media screen and (max-width:768px) {
  .Container .sidebar {
    width: 100%;
    /* background-color: red; */
    background-color: transparent;
    flex-basis: 20%;
    box-shadow: 2px 3px 4px 1px rgba(133, 132, 132, 0.253);
    position: absolute;
    left: -100%;
  }
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  /* background:white; */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.471);
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.471);
}