.headingMain {
    color: grey;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: .7rem .7rem;
    padding-bottom: 0rem;

}

.emailListContainer {
    margin-top: 1rem;
    height: auto;

}

.unread {
    font-weight: 600;
}

.emailItems {
    background-color: aliceblue;
    display: flex;
    margin: .2rem 1rem;
    padding: 1.2rem .6rem;
    align-items: center;
    min-height: 2.5rem;
    max-height: 2.1rem;
    transition: .2s ease-in-out;
}

.emailItems:hover {
    border: 0.1rem solid rgba(110, 196, 250, 0.293);
    background-color: rgba(240, 248, 255, 0.479);
    display: flex;
    margin: .2rem 1rem;
    padding: .6rem;
    align-items: center;
    min-height: 2.5rem;
    max-height: 2.1rem;
    cursor: pointer;
    border: 0px;
}

.checkBox {
    color: rgb(110, 196, 250);
    font-size: 1rem;

}

.title {
    border-left: 1px solid grey;
    padding-left: .3rem;
}